In [1]:
import pandas as pd
import numpy as np

In [53]:
data1 = pd.read_csv(
    "../tests/test.csv",
    usecols=["Participant ID", "Measure Code", "Result"], 
    index_col= ["Participant ID"]
)

In [54]:
data1

               Measure Code  Result
Participant ID
43619-001             SWMTE       2
43619-001             PALTE       3
43619-001             SWMBE       4
43619-001             PALBE       5
43619-002             SWMTE       6
43619-002             PALTE       7
43619-002             SWMBE       8
43619-002             PALBE       9
43619-003             SWMTE      10
43619-003             PALTE      11
43619-003             PALBE      12
43619-003             SWMBE      14

In [55]:
data1pivot = data1.pivot(columns = 'Measure Code', values = 'Result')
data1pivot

Measure Code    PALBE  PALTE  SWMBE  SWMTE
Participant ID
43619-001           5      3      4      2
43619-002           9      7      8      6
43619-003          12     11     14     10

In [57]:
data1pivot.to_csv("data1.csv", sep = ",")

In [120]:
CANTAB =  pd.read_csv("data1.csv")
CANTAB.rename(columns = {"Participant ID" : "study_id"}, inplace = True)
CANTAB.replace(to_replace = "43619-", value = "43619EP-", regex = True, inplace = True)

data2 = pd.read_csv(
    "../tests/test2.csv")

      study_id  PALBE  PALTE  SWMBE  SWMTE
0  43619EP-001      5      3      4      2
1  43619EP-002      9      7      8      6
2  43619EP-003     12     11     14     10

In [119]:
final = pd.merge(CANTAB, data2, on = "study_id")
final

      study_id  PALBE  PALTE  SWMBE  SWMTE  age  sex  memory
0  43619EP-001      5      3      4      2  123    0     0.1
1  43619EP-002      9      7      8      6  124    1     1.1
2  43619EP-003     12     11     14     10  125    1     2.1

In [121]:
final.to_csv("PRANKDataMerged.csv", sep = ",")